@page
@model GiacenzaSorterRm.Pages.PagesRiepilogoBancali.EditModel

@{
    ViewData["Title"] = "Edit Bancale";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-8 col-md-8 col-lg-8">

                <h1>Modifica Bancale</h1>
                <br />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Bancali.IdBancale" />
                    <input type="hidden" asp-for="Bancali.IdCentroArrivo" />
                    <input type="hidden" asp-for="Bancali.IdOperatoreAccettazione" />
                    

                    <div class="form-group">
                        <label asp-for="Bancali.Bancale" class="control-label"></label>
                        <input asp-for="Bancali.Bancale" class="form-control" />
                        <span asp-validation-for="Bancali.Bancale" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bancali.OperatoreAccettazione" class="control-label"></label>
                        <input asp-for="Bancali.OperatoreAccettazione" class="form-control" />
                        <span asp-validation-for="Bancali.OperatoreAccettazione" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Bancali.DataAccettazioneBancale" class="control-label"></label>
                        <input asp-for="Bancali.DataAccettazioneBancale" class="form-control" />
                        <span asp-validation-for="Bancali.DataAccettazioneBancale" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Bancali.Note" class="control-label"></label>
                        <input asp-for="Bancali.Note" class="form-control" />
                        <span asp-validation-for="Bancali.Note" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Commessa</label>
                        <select asp-for="Bancali.IdCommessa" class="form-control" asp-items="@Model.CommesseSL">
                            <option value="">- Commessa -</option>
                        </select>
                        <span asp-validation-for="Bancali.IdCommessa" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>

                <div>
                    <a asp-page="./Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
