@page
@model GiacenzaSorterRm.Pages.PagesRiepilogoBancali.IndexModel

@{
    ViewData["Title"] = "Riepilogo Bancali";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid ">


    <div class="row">
        <div class="col">
            <div class="card text-white bg-info mb-3 max-w-100" >
                <div class="card-body">
                    <h2 class="text-center">Riepilogo Bancali</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">

        <div class="col-3 ">


            @* Search by data accettazione o fuori sla *@
            <div class="row mb-1">
                <div class="col">
                    <div class="card border-bg-light">
                        <h5 class="card-header">Bancali</h5>

                        <div class="card-body">

                            <form method="post" id="formSelected">

                                
                                @if (User.IsInRole("ADMIN") || User.IsInRole("SUPERVISOR"))
                                {
                                    <div class="mb-3">
                                        <select asp-for="SelectedCentro" asp-items="Model.LstCentri" class="col-xs-12 form-control" >
                                            <option value="0">- Seleziona Centro -</option>
                                        </select>
                                    </div>
                                }
                                else
                                {
                                    <div class="mb-3">
                                        <select asp-for="SelectedCentro" class="col-xs-12 form-control" >
                                            <option value="0">@Model.Centro</option>
                                        </select>
                                    </div>
                                }



                                <div class="mb-3">
                                    <select asp-for="Option" onchange="change(this)" class="col-xs-12 form-control" id="selectType">
                                        <option value="0">- Seleziona Tipo -</option>
                                        <option value="1">Data Accettazione</option>
                                        @* <option value="2">Fuori SLA</option> *@
                                    </select>
                                </div>

                                <div class="mb-3" id="DatePickerID">
                                    <label for="Date">Da:</label>
                                    <input asp-for="StartDate" class="form-control"  id="StartDate" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>

                                    <label for="Date">A:</label>
                                    <input asp-for="EndDate" class="form-control"  id="EndDate"/>
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>

                                <button type="submit" class="col-auto btn btn-primary justify-content-end" id="btnStartNorm">Report</button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>



        </div>


        @* report *@
        <div class="col-9 ">
            <div class="row">
                <div class="col">
                    <div class="card border-bg-light w-100">

                        <h5 class="card-header">
                            Report
                        </h5>

                        <div id="divProcessing" class="d-none" role="status" aria-live="polite" aria-busy="true">
                            <br />
                            <br />
                            <p class="sr-only">Caricamento in corso...</p>`r`n            <p class="text-center" aria-hidden="true">Processing data, please wait . . .</p>
                            <p>
                                <img class="mx-auto d-block" src="~/images/Spinner.gif" alt="Caricamento in corso..." role="presentation">
                            </p>
                        </div>

                        <div class="center-text m-2" id="dvReport" ></div>

                    </div>
                    </div>
                </div>
            </div>
        </div>

</div>





<!-- Modal elimina-->
<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Elimina Bancali</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Eliminare i bancali selezionati ?
            </div>
            <div class="modal-footer">
                <button type="button" id="submitModal" class="btn btn-primary"> Elimina</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal no scatole-->
<div class="modal fade" id="modalNoScatole" tabindex="-1" role="dialog" aria-labelledby="modalNoScatoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNoScatoleTitle">Elimina Bancali</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Non ci sono bancali selezionati
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>

            </div>
        </div>
    </div>
</div>




@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="module">
        import { FetchHelpers } from '/js/fetch-helpers.js';

        // Nascondi DatePicker e spinner inizialmente
        $(document).ready(function () {
            $('#DatePickerID').hide();
        });

        function change() {
            var selectBox = document.getElementById("selectType");
            var selected = selectBox.options[selectBox.selectedIndex].value;

            if(selected === '1'){
                $('#DatePickerID').show();
            }
            else{
                $('#DatePickerID').hide();
            }
        }

        // Esponi change globalmente per onchange inline
        window.change = change;

        FetchHelpers.hideSpinner('divProcessing');

        // Modal handler
        $('#submitModal').click(function () {
            $('#confirm-submit').modal('hide');
            $('#btnElimina').click();
            FetchHelpers.showSpinner('divProcessing');
            document.getElementById('dvReport').style.display = 'none';
        });

        // Handler submit form
        document.getElementById('formSelected').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const form = e.target;
            const formData = new FormData(form);
            
            FetchHelpers.showSpinner('divProcessing');
            const reportDiv = document.getElementById('dvReport');
            reportDiv.style.display = 'none';
            reportDiv.innerHTML = '';
            
            try {
                await FetchHelpers.postFormWithUpdate(
                    '?handler=Report',
                    formData,
                    'dvReport',
                    () => {
                        // Success callback
                        FetchHelpers.hideSpinner('divProcessing');
                        reportDiv.style.display = 'block';
                        
                        // Setup checkbox handlers
                        $("#checkAll").change(function () {
                            const checked = $(this).is(':checked');
                            $(".checkbox").prop("checked", checked);
                        });

                        $(".checkbox").click(function () {
                            if ($(".checkbox").length == $(".checkbox:checked").length) {
                                $("#checkall").prop("checked", true);
                            } else {
                                $("#checkall").removeAttr("checked");
                            }
                        });
                        
                        // Configurazione DataTable base
                        const tableConfig = {
                            dom: 'Bflrtip',
                            buttons: [
                                {
                                    extend: 'excelHtml5',
                                    autoFilter: true,
                                    text: '<i class="fas fa-file-excel"></i> Export to Excel',
                                    exportOptions: {
                                        columns: ':not(.notexport)'
                                    },
                                    className: 'col-auto btn btn-primary',
                                    title: function () {
                                        return 'Riepilogo bancali dal ' + $('#StartDate').val() + ' al ' + $('#EndDate').val();
                                    }
                                }
                            ],
                            columnDefs: [
                                {
                                    targets: 0,
                                    orderable: false,
                                    searchable: false,
                                }
                            ],
                            order: [[2, 'asc']],
                            scrollX: true
                        };
                        
                        // Inizializza DataTable
                        FetchHelpers.reinitDataTable('tableProduzione', tableConfig);
                        
                        // Aggiungi bottone Delete solo per ADMIN/SUPERVISOR
                        const ruolo = '@Model.Ruolo';
                        if (ruolo === 'ADMIN' || ruolo === 'SUPERVISOR') {
                            const table = $('#tableProduzione').DataTable();
                            table.button().add(1, {
                                action: function (e, dt, button, config) {
                                    const atLeastOneIsChecked = $('.checkbox').is(':checked');
                                    if (atLeastOneIsChecked) {
                                        $('#confirm-submit').modal('show');
                                    } else {
                                        $('#modalNoScatole').modal('show');
                                    }
                                },
                                text: '<i class="far fa-trash-alt"></i> Delete',
                                className: 'col-auto btn btn-danger ml-2'
                            });
                        }
                    },
                    (error) => {
                        // Error callback
                        FetchHelpers.hideSpinner('divProcessing');
                        reportDiv.style.display = 'block';
                        reportDiv.innerHTML = '<div class="alert alert-danger">Errore durante il caricamento del report. Riprova.</div>';
                    }
                );
            } catch (error) {
                console.error('Errore report riepilogo bancali:', error);
                FetchHelpers.hideSpinner('divProcessing');
                reportDiv.style.display = 'block';
            }
        });
    </script>
}

