@page
@model GiacenzaSorterRm.Pages.PagesImpostazioni.PagesOperatori.CreateModel

@{
    ViewData["Title"] = "Create Operatore";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-12 col-lg-6">

            <h4>Nuovo Operatore</h4>
                <hr />
                <div class="row" id="app">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3">
                                <label for="Operatori_Operatore" class="form-label">Se operatore interno inserire come utenza di dominio ( Es: nome.cognome )</label>
                                <input asp-for="Operatori.Operatore" id="Operatori_Operatore" class="form-control" oninput="this.value = this.value.toLowerCase()" aria-required="true" />
                                <span asp-validation-for="Operatori.Operatore" class="text-danger"></span>
                            </div>

                            @if (User.IsInRole("ADMIN"))
                            {
                                <div class="mb-3">
                                    <label for="Operatori_Ruolo_Admin" class="form-label">Ruolo</label>
                                    <select asp-for="Operatori.Ruolo" id="Operatori_Ruolo_Admin" class="form-select" aria-required="true">
                                        <option value="">- Ruolo -</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="SUPERVISOR">SUPERVISOR</option>
                                        <option value="USER">USER</option>
                                    </select>
                                    <span asp-validation-for="Operatori.Ruolo" class="text-danger"></span>
                                </div>
                            }


                            @if (User.IsInRole("SUPERVISOR"))
                            {
                                <div class="mb-3">
                                    <label for="Operatori_Ruolo_Supervisor" class="form-label">Ruolo</label>
                                    <select asp-for="Operatori.Ruolo" id="Operatori_Ruolo_Supervisor" class="form-select" aria-required="true">
                                        <option value="">- Ruolo -</option>
                                        <option value="SUPERVISOR">SUPERVISOR</option>
                                        <option value="USER">USER</option>
                                    </select>
                                    <span asp-validation-for="Operatori.Ruolo" class="text-danger"></span>
                                </div>
                            }


                            <div class="mb-3">
                                <label for="Operatori_Azienda" class="form-label">Azienda</label>
                                <select asp-for="Operatori.Azienda" id="Operatori_Azienda" class="form-select" v-model="selectAzienda" v-on:change="onChangeAzienda($event)" aria-required="true">
                                    <option value="">- Azienda -</option>
                                    <option value="POSTEL">POSTEL</option>
                                    <option value="ESTERNO">ESTERNO</option>
                                </select>
                                <span asp-validation-for="Operatori.Azienda" class="text-danger"></span>
                            </div>


                            <div class="mb-3">
                                <label for="Operatori_IdCentroLav" class="form-label">Centro Lavorazione</label>
                                <select asp-for="Operatori.IdCentroLav" id="Operatori_IdCentroLav" class="form-select" asp-items="@Model.CentriSL" aria-required="true">
                                    <option value="">- Centro -</option>
                                </select>
                                <span asp-validation-for="Operatori.IdCentroLav" class="text-danger"></span>
                            </div>


                            <div class="mb-3">
                                <label for="Operatori_Password" class="form-label">Password - min 8 char -</label>
                                <input asp-for="Operatori.Password" id="Operatori_Password" type="password" class="form-control" v-bind:disabled="isDisabledPassword" v-model="Password" aria-describedby="passwordHelp" />
                                <small id="passwordHelp" class="form-text text-muted">La password è obbligatoria solo per operatori esterni</small>
                                <span asp-validation-for="Operatori.Password" class="text-danger"></span>
                            </div>


                            <div class="mb-3">
                                <input type="submit" value="Create" class="btn btn-primary" /> |
                                <a asp-page="Index" class="text-decoration-none">Back to List</a>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>


        var vm = new Vue({

            el: '#app',
            data: {
                Password: '',
                isDisabledPassword: true,
                selectAzienda: "",
            },
            methods: {

                onChangeAzienda: function (event) {

                    var self = this;
                    if ((self.selectAzienda == "POSTEL") || (self.selectAzienda == "")) {
                        self.isDisabledPassword = true
                        self.Password = ''
                    }
                    else {
                        self.isDisabledPassword = false
                        self.Password = ''
                    }


                }
            }

        });
    </script>
}



