@page
@model GiacenzaSorterRm.Pages.PagesAssociazione.CreateModel

@{
    ViewData["Title"] = "Create Associazione";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-12 col-lg-6">

            <h4>Crea Associazione</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="form-group mb-3">
                            <label for="Ctc_IdCommessa" class="control-label form-label">Commessa</label>
                            <select asp-for="Ctc.IdCommessa" id="Ctc_IdCommessa" class="form-control form-select" asp-items="Model.CommesseSL" aria-required="true">
                                <option value="">-- Seleziona Commessa --</option>
                            </select>
                            <span asp-validation-for="Ctc.IdCommessa" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label for="Ctc_IdTipologia" class="control-label form-label">Tipologia</label>
                            <select asp-for="Ctc.IdTipologia" id="Ctc_IdTipologia" class="form-control form-select" asp-items="Model.TipologieSL" aria-required="true">
                                <option value="">-- Seleziona Tipologia --</option>
                            </select>
                            <span asp-validation-for="Ctc.IdTipologia" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label for="Ctc_IdContenitore" class="control-label form-label">Contenitore</label>
                            <select asp-for="Ctc.IdContenitore" id="Ctc_IdContenitore" class="form-control form-select" asp-items="Model.ContenitoriSL" aria-required="true">
                                <option value="">-- Seleziona Contenitore --</option>
                            </select>
                            <span asp-validation-for="Ctc.IdContenitore" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group mt-3">
                            <input type="submit" value="Create" class="btn btn-primary" /> |
                            <a asp-page="Index" class="text-decoration-none">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
