@page
@model GiacenzaSorterRm.Pages.PagesOperatori.EditModel

@{
    ViewData["Title"] = "Edit Operatore";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center" id="app">
        <div class="col-8 col-md-8 col-lg-8">

            <h1>Modifica Operatore</h1>
            <br />

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Operatori.IdOperatore" />
                <div class="form-group">
                    <label asp-for="Operatori.Operatore" class="control-label"></label>
                    <input asp-for="Operatori.Operatore" class="form-control" />
                    <span asp-validation-for="Operatori.Operatore" class="text-danger"></span>
                </div>

                @if(User.IsInRole("ADMIN"))
                {
                    <div class="form-group">
                        <label asp-for="Operatori.Ruolo" class="control-label"></label>
                        <select asp-for="Operatori.Ruolo" class="form-control">
                            <option value="">- Ruolo -</option>
                            <option value="ADMIN">ADMIN</option>
                            <option value="SUPERVISOR">SUPERVISOR</option>
                            <option value="USER">USER</option>

                        </select>
                        <span asp-validation-for="Operatori.Ruolo" class="text-danger"></span>
                    </div>
                }


                @if (User.IsInRole("SUPERVISOR"))
                {
                    <div class="form-group">
                        <label asp-for="Operatori.Ruolo" class="control-label"></label>
                        <select asp-for="Operatori.Ruolo" class="form-control" v-model="selectRuolo" >
                            <option value="">- Ruolo -</option>
                            <option value="SUPERVISOR">SUPERVISOR</option>
                            <option value="USER">USER</option>
                        </select>
                        <span asp-validation-for="Operatori.Ruolo" class="text-danger"></span>
                    </div>
                }


                <div class="form-group">
                    <label asp-for="Operatori.Azienda" class="control-label"></label>
                    <select asp-for="Operatori.Azienda" class="form-control" v-model="selectAzienda" v-on:change="onChangeAzienda($event)">
                        <option value="">- Azienda -</option>
                        <option value="POSTEL">POSTEL</option>
                        <option value="ESTERNO">ESTERNO</option>
                    </select>
                    <span asp-validation-for="Operatori.Azienda" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="control-label">Centro Lavorazione</label>
                    <select asp-for="Operatori.IdCentroLav" class="form-control" asp-items="@Model.CentriSL">
                        <option value="">- Centro -</option>
                    </select>
                    <span asp-validation-for="Operatori.IdCentroLav" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="control-label">Password - min 8 char -</label>
                    <input asp-for="Operatori.Password" class="form-control" v-bind:disabled="isDisabledPassword" v-model="Password" />
                    <span asp-validation-for="Operatori.Password" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>


        var vm = new Vue({

            el: '#app',
            data: {
                Password: '',
                isDisabledPassword: true,
                selectAzienda: "",
                selectRuolo: "",
            },
            methods: {

                onChangeAzienda: function (event) {

                    var self = this;
                    var preRuolo = self.selectRuolo
                    if ((self.selectAzienda == "POSTEL") || (self.selectAzienda == "")) {
                        self.isDisabledPassword = true
                        self.Password = ''
                        self.selectRuolo = preRuolo
                    }
                    else {
                        self.isDisabledPassword = false
                        self.Password = ''
                        self.selectRuolo = 'USER'
                    }
                }
            }

        });
    </script>
}

