@page
@model GiacenzaSorterRm.Pages.PagesImpostazioni.PagesContenitori.EditModel

@{
    ViewData["Title"] = "Edit Contenitore";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-8 col-md-8 col-lg-8">

            <h1>Modifica Tipologie Documenti</h1>
            <br />

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Contenitori.IdContenitore" id="Contenitori_IdContenitore" />
                
                <div class="mb-3">
                    <label for="Contenitori_Contenitore" class="form-label">Contenitore</label>
                    <input asp-for="Contenitori.Contenitore" id="Contenitori_Contenitore" class="form-control" />
                    <span asp-validation-for="Contenitori.Contenitore" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="Contenitori_TotaleDocumenti" class="form-label">Totale Documenti</label>
                    <input asp-for="Contenitori.TotaleDocumenti" id="Contenitori_TotaleDocumenti" class="form-control" />
                    <span asp-validation-for="Contenitori.TotaleDocumenti" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            
            <div>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}