@page
@model GiacenzaSorterRm.Pages.TipiLavorazioni.EditModel

@{
    ViewData["Title"] = "Modifica Commessa";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-8 col-md-8 col-lg-8">

            <h1>Modifica Commessa</h1>
            <br />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Commesse.IdCommessa" />

                <div class="mb-3">
                    <label asp-for="Commesse.Commessa" class="control-label"></label>
                    <input asp-for="Commesse.Commessa" class="form-control" />
                    <span asp-validation-for="Commesse.Commessa" class="text-danger"></span>
                </div>

                <div class="mb-3">

                    <select asp-for="Commesse.IdPiattaforma" class="form-control" asp-items="@Model.PiattaformeSL">
                        <option value="">- Piattaforma -</option>
                    </select>
                    <span asp-validation-for="Commesse.IdPiattaforma" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="Commesse.GiorniSla" class="control-label" ></label>
                    <input asp-for="Commesse.GiorniSla" class="form-control" style="width:100px"/>
                </div>

                <div class="mb-3">
                    <label asp-for="Commesse.Attiva" class="control-label"></label>
                    <select asp-for="Commesse.Attiva" class="form-control">
                        <option value="">- Commessa Attiva -</option>
                        <option value="true">SI</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Commesse.Note" class="control-label"></label>
                    <textarea asp-for="Commesse.Note" class="form-control"></textarea>
                </div>


                <div class="mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </form>

            <div>
                <a asp-page="./Index">Back to List</a>
            </div>


        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
