@page
@model GiacenzaSorterRm.Pages.PagesVolumi.IndexModel

@{
    ViewData["Title"] = "Giacenza";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="app">

    <div class="card text-white bg-info mb-3" style="max-width: 100%;">

            <div class="card-body">
                <h2 class="text-center">Riepilogo Giacenza</h2>

            </div>
        </div>

        <br />

        <form class="form-inline justify-content-center" method="post"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-update="#dvReport"
              data-ajax-mode="replace"
              data-ajax-url="?handler=Report"
              data-ajax-success="OnSuccessRequest">


            <div class="form-group">
                <select asp-for="IdTipo" class="m-2 col-xs-12 form-control" id="selectType">
                    <option value="0">- Seleziona Tipo -</option>
                    <option value="1">Piattaforma</option>
                    <option value="2">Dettaglio</option>
                </select>
                <span asp-validation-for="IdTipo" class="text-danger"></span>
            </div>


            <div class="form-group">
            <select asp-for="SelectedCentro" asp-items="Model.LstCentri" class="m-2 col-xs-12 form-control" id="selectCentro">
                    <option value="0">- Seleziona Centro -</option>
                </select>
                <div><span asp-validation-for="SelectedCentro" class="text-danger"></span></div>
            </div>


            <label for="Date" class="m-2 col-xs-3 col-form-label mr-2">Giacenza al :</label>
            <div class="m-2 col-xs-9">
                <input asp-for="EndDate" class="form-control mr-4" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>


            <div class="m-2 col-auto px-0">
                <input type="submit" value="Report" class="col-auto btn btn-primary" asp-page-handler="Report" id="btnStart" />
            </div>

            <br />

        </form>

        <br />
        <br />

        <div id="divProcessing">
            <br />
            <br />
            <p class="text-center">Processing data, please wait . . .</p>
            <p>
                <img class="mx-auto d-block" src="~/images/Spinner.gif" />
            </p>

        </div>

        <div class="center-text" id="dvReport"></div>

    </div>




@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>

    <script>

        $("#divProcessing").hide();

        $('#btnStart').click(function () {

            selectCentro = document.querySelector('#selectCentro');
            selectType = document.querySelector('#selectType');

            if (selectCentro.value == 0 || selectType.value == 0) {
                $("#divProcessing").hide();
                $("#dvReport").show();
            }
            else{
                $("#divProcessing").show();
                $("#dvReport").hide();
            }
        });



        function OnSuccessRequest() {

            $("#divProcessing").hide();
            $("#dvReport").show();

            selectType = document.querySelector('#selectType');

            if (selectType.value == 1) {
                $('#tableProduzione').DataTable({
                    dom: 'Bflrtip',
                    buttons: [
                        {
                            extend: 'excel',
                            autoFilter: true,
                            text: '<i class="fas fa-file-excel"></i> Export to Excel',
                            className: 'col-auto btn btn-primary',
                            title: function () {
                                var str = 'Giacenza al ' + $('#EndDate').val()
                                return str
                            },
                            exportOptions: {
                                format: {
                                    body: function (data, row, column, node) {
                                        data = $('<p>' + data + '</p>').text();
                                        return column === 2 ?
                                            data.replace(/[.]/g, '') :
                                            data;
                                    }

                                }
                            }
                        }
                    ],
                    order: [[0, 'asc']],
                    scrollX: true
                });
            }
            else {
                $('#tableProduzione').DataTable({
                    dom: 'Bflrtip',
                    buttons: [
                        {
                            extend: 'excel',
                            autoFilter: true,
                            text: '<i class="fas fa-file-excel"></i> Export to Excel',
                            className: 'col-auto btn btn-primary',
                            title: function () {
                                var str = 'Dettaglio al ' + $('#EndDate').val()
                                return str
                            },
                            exportOptions: {
                                format: {
                                    body: function (data, row, column, node) {
                                        data = $('<p>' + data + '</p>').text();
                                        return $.isNumeric(column) ?
                                            data.replace(/[.]/g, '') :
                                            data;
                                    }

                                }
                            }
                        }
                    ],
                    order: [[0, 'asc']],
                    scrollX: true
                });
            }

        };


    </script>
}
