@page
@model GiacenzaSorterRm.Pages.PagesImpostazioni.PagesTipiDocumenti.CreateModel

@{
    ViewData["Title"] = "Nuova Tipologia";

}


<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-12 col-lg-6">

            <h4>Nuova Tipologia</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="mb-3">
                            <label for="Tipologie_Tipologia" class="form-label">Tipologia</label>
                            <input asp-for="Tipologie.Tipologia" id="Tipologie_Tipologia" class="form-control" />
                            <span asp-validation-for="Tipologie.Tipologia" class="text-danger" ></span>
                        </div>

                        <div class="mb-3">
                            <label for="Tipologie_Note" class="form-label">Note</label>
                            <textarea asp-for="Tipologie.Note" id="Tipologie_Note" class="form-control" cols="40" rows="2" placeholder="Note"></textarea>
                            <span asp-validation-for="Tipologie.Note" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-page="Index">Back to List</a>
            </div>

        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
