@page
@model GiacenzaSorterRm.Pages.HomeModel

@{
    ViewData["Title"] = "Giacenza Sorter";
   
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>

</style>

<style>

    img {
        max-width: 50%;
        height: auto
    }

    #box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>

<br />
<br />


<div class="container" id="box">
    <div class="text-center">
        <img src="~/images/BarcodeBox.jpg" class="center" alt="Barcode Box - Logo Giacenza Sorter"/>
    </div>
</div>






