@page
@model GiacenzaSorterRm.IndexBrowserModel
@{
    Layout = "_LayoutLogin";
}



<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-12 col-lg-12">
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <div class="alert alert-danger text-center" role="alert">
                <h4> Attenzione Internet Explorer non è supportato, utilizzare Chrome o Edge </h4>
            </div>


        </div>
    </div>
</div>