@page "{handler?}"
@model GiacenzaSorterRm.Pages.PagesAccettazione.CreateModel
@{
    ViewData["Title"] = "Accettazione";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="card text-white bg-info mb-1" style="max-width: 100%;">
        <div class="card-body">
            <h2 class="text-center">Accettazione Bancale</h2>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">

            <div class="card" id="app">

                <div class="card-header">
                    <h5 class="card-title">Inserimento Bancale</h5>
                </div>
                <div class="card-body">

                    <form  method="post"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-update="#resultDivDispacci"
                          data-ajax-mode="replace"
                          data-ajax-url="?handler=InsertDispacci"
                          data-ajax-success="OnSuccessRequestDispacci">


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group ">
                                    <input asp-for="Dispaccio" class="form-control input-dispaccio " placeholder="Dispaccio" oninput="this.value = this.value.toUpperCase()" />
                                    <span class="input-group-btn ml-2">
                                        <input type="submit" value="Add" class="btn btn-primary" id="btnDispacci" />
                                    </span>
                                </div>
                                <span asp-validation-for="Dispaccio" class="text-danger"></span>
                            </div>
                        </div>

                    </form>

                    <div class="form-group" id="resultDivDispacci">
                        <partial name="_RiepilogoDispacci" model="Model.DispacciModel" />
                    </div>


                    <form method="post"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-update="#resultDiv"
                          data-ajax-mode="replace"
                          data-ajax-url="?handler=CreaNuovoBancale"
                          data-ajax-success="OnSuccessRequest">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                      
                            <input asp-for="Bancali.DataAccettazioneBancale" class="form-control" />
                        </div>

                        <div class="form-group">
@*                             <select v-model="selectCommessa" asp-for="Bancali.IdCommessa" class="form-control mr-sm-1">
                                <option value="">- Commessa -</option>
                                <option v-for="option in optionsCommesse" v-bind:value="option.value">
                                    {{ option.text }}
                                </option>
                            </select> *@
                            @* <span asp-validation-for="Bancali.IdCommessa" class="text-danger"></span> *@
                            <select asp-for="Bancali.IdCommessa" class="form-control  mr-sm-1" asp-items="@Model.CommesseSL ">
                                <option value="">- Commessa -</option>
                            </select>
                            <span asp-validation-for="Bancali.IdCommessa" class="text-danger"></span>


                        </div>

                        <div class="form-group">
                            <textarea asp-for="Bancali.Note" class="form-control" cols="40" rows="3" placeholder="Note"></textarea>
                            <span asp-validation-for="Bancali.Note" class="text-danger"></span>
                        </div>


@*                         <div class="form-group">
                            <input asp-for="Bancali.Bancale" class="form-control input-scatola" placeholder="Bancale" oninput="this.value = this.value.toUpperCase()" v-model="bancale" />
                            <span asp-validation-for="Bancali.Bancale" class="text-danger"></span>
                        </div> *@

                        <div class="form-group d-flex justify-content-end">
                            @* <input type="submit" value="Nuovo bancale" class="btn btn-primary" id="btnPost" v-bind:disabled="isFormInvalid" /> *@
                            <input type="submit" value="Nuovo bancale" class="btn btn-primary" id="btnPost" />
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 align-self-stretch ">
            <div id="resultDiv">
                <partial name="_RiepilogoAccettazioneBancali" model="Model.BancaliModel" />
            </div>
        </div>

    </div>
</div>



@section scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>

    <script>

            $(document).ready(function () {
                $('#tableProduzione').DataTable({
                    "scrollX": true
                });


            });


            $(document).ready(function () {
                $('#tableProduzioneDispacci').DataTable({
                    scrollY: '20vh',
                    scrollCollapse: true,
                    paging: false,
                    "dom": '<<t>i>',
                });
            });


            function OnSuccessRequest() {

                $('#tableProduzione').DataTable({
                    "scrollX": true,
                    "order": []
                });

                document.getElementById('Dispaccio').value = '';
                // document.getElementById('Bancali_Bancale').value = '';
                document.getElementById('Bancali_Note').value = '';
                $("#tableProduzione").DataTable().page('last').draw('page');

                var table = $('#tableProduzioneDispacci').DataTable();
                table.clear()
                table.draw();

            };


            // function OnSuccessRequestPDF() {
            //     $('#tableProduzione').DataTable({
            //         "scrollX": true
            //     });
            // };



            function OnSuccessRequestDispacci() {
                
                document.getElementById('Dispaccio').value = '';

                $('#tableProduzioneDispacci').DataTable({
                    scrollY: '20vh',
                    scrollCollapse: true,
                    paging: false,
                    "dom": '<<t>i>',
                });
            };



            // var vm = new Vue({

            //     el: '#app',
            //     data: {

            //         bancale : "",
            //         selectCommessa: "",
            //         optionsCommesse: @Json.Serialize(Model.CommesseSL),

            //         newItem: '',
            //         items: [],

            //     },
            //     computed: {
            //         isFormInvalid: function () {
            //             if (this.selectCommessa != "" &&
            //                 this.bancale != "") {
            //                 return false;
            //             }
            //             else {
            //                 return true;
            //             }
            //         }
            //     }

            // });

    </script>
}



