@page
@model GiacenzaSorterRm.Pages.PagesAssociazione.CreateModel

@{
    ViewData["Title"] = "Aggiungi Associazione";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-12 col-lg-6">

                <h4>Nuova Associazione</h4>
                <hr />
                <div class="row">
                    <div class="col-md-12">

                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3">
                                <select asp-for="Ctc.IdCommessa" class="form-control" asp-items="@Model.CommesseSL">
                                    <option value="">- Commessa -</option>
                                </select>
                                <span asp-validation-for="Ctc.IdCommessa" class="text-danger"></span>
                            </div>

                            <div class="mb-3">

                                <select asp-for="Ctc.IdTipologia" class="form-control" asp-items="@Model.TipologieSL ">
                                    <option value="">- Tipologia -</option>
                                </select>
                                <span asp-validation-for="Ctc.IdTipologia" class="text-danger"></span>

                            </div>


                            <div class="mb-3">

                                <select asp-for="Ctc.IdContenitore" class="form-control" asp-items="@Model.ContenitoriSL   ">
                                    <option value="">- Contenitore -</option>
                                </select>
                                <span asp-validation-for="Ctc.IdContenitore" class="text-danger"></span>

                            </div>


                            <div class="mb-3">
                                <label class="control-label">Visibile in fase di normalizzazione</label>
                                <select asp-for="Ctc.Attiva" class="form-control">
                                    <option value="">- Associazione visibile -</option>
                                    <option value="true">SI</option>
                                    <option value="false">No</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <input type="submit" value="Aggiungi" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-page="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
