@page
@model GiacenzaSorterRm.Pages.PagesNormalizzato.IndexModel

@{
    ViewData["Title"] = "Totale Normalizzato";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container-fluid">

        <div class="card text-white bg-info mb-1" style="max-width: 100%;">

            <div class="card-body">
                <h2 class="text-center">Commesse Normalizzate</h2>
            </div>
        </div>


        <br />


        <form class="form-inline justify-content-center" method="post" id="formReport">


            <div class="form-group">
                <select asp-for="SelectedCentro" asp-items="Model.LstCentri" class="form-control mr-2">
                    <option value="0">- Seleziona Centro -</option>
                </select>
            </div>


            <label for="Date" class="m-1 col-xs-3 col-form-label mr-2">Normalizzazione Da :</label>
            <div class="m-2 col-xs-9">
                <input asp-for="StartDate" class="form-control mr-2" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <label for="Date" class="m-1 col-xs-3 col-form-label mr-2">Normalizzazione A :</label>
            <div class="m-2 col-xs-9">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="m-2 col-auto px-0">

                <button type="submit" class="col-auto btn btn-primary" id="btnStart">Report</button>

            </div>

            <br />

        </form>

        <br />

        <div id="divProcessing">
            <br />
            <br />
            <p class="text-center">Processing data, please wait . . .</p>
            <p>
                <img class="mx-auto d-block" src="~/images/Spinner.gif" />
            </p>

        </div>

        <div class="center-text" id="dvReport"></div>

    </div>




@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="module">
        import { FetchHelpers } from '/js/fetch-helpers.js';

        // Nascondi spinner inizialmente
        FetchHelpers.hideSpinner('divProcessing');

        // Handler submit form
        document.getElementById('formReport').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const form = e.target;
            const formData = new FormData(form);
            
            // Mostra spinner, nascondi report
            FetchHelpers.showSpinner('divProcessing');
            document.getElementById('dvReport').style.display = 'none';
            
            try {
                await FetchHelpers.postFormWithUpdate(
                    '?handler=Report',
                    formData,
                    'dvReport',
                    () => {
                        // Success callback
                        FetchHelpers.hideSpinner('divProcessing');
                        document.getElementById('dvReport').style.display = 'block';
                        
                        // Inizializza DataTable con bottone Excel
                        $('#tableProduzione').DataTable({
                            dom: 'Bflrtip',
                            buttons: [
                                {
                                    extend: 'excelHtml5',
                                    autoFilter: true,
                                    text: '<i class="fas fa-file-excel"></i> Export to Excel',
                                    className: 'col-auto btn btn-primary',
                                    exportOptions: {
                                        format: {
                                            body: function (data, row, column, node) {
                                                data = $('<p>' + data + '</p>').text();
                                                return column === 2 ?
                                                    data.replace(/[.]/g, '') :
                                                    data;
                                            }
                                        }
                                    },
                                    title: function () {
                                        var str = 'Prodotto normalizzato - data normalizzazione dal ' + $('#StartDate').val() + ' al ' + $('#EndDate').val()
                                        return str
                                    }
                                }
                            ],
                            order: [[0, 'asc']],
                            scrollX: true
                        });
                    },
                    (error) => {
                        // Error callback
                        FetchHelpers.hideSpinner('divProcessing');
                        document.getElementById('dvReport').style.display = 'block';
                        alert('Errore durante il caricamento del report. Riprova.');
                    }
                );
            } catch (error) {
                console.error('Errore report:', error);
                FetchHelpers.hideSpinner('divProcessing');
                document.getElementById('dvReport').style.display = 'block';
            }
        });
    </script>
}

