@page
@model GiacenzaSorterRm.Pages.PagesRicercaDispaccio.IndexModel
@{
    ViewData["Title"] = "Ricerca Dispaccio";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container-fluid">


    <div class="card text-white bg-info mb-3" style="max-width: 100%;">

        <div class="card-body">
            <h2 class="text-center">Ricerca Dispaccio <-> Bancale</h2>
        </div>
    </div>


    <br />


    <form class="form-inline justify-content-center" method="post" id="formSelected">


        <select asp-for="SelectedItem" asp-items="Model.LstRicerca" class="m-2 mr-2 col-xs-9 form-control">
            <option value="0">- Seleziona Tipo -</option>
        </select>


        <div class="m-2 col-xs-9">
            <input asp-for="ItemRicerca" class="form-control input-dispaccio" style="width:300px" oninput="this.value = this.value.toUpperCase()" />
            <span asp-validation-for="ItemRicerca" class="text-danger"></span>
        </div>

        <div class="m-2 col-auto px-0">
            <button type="submit" class="col-auto btn btn-primary" id="btnStartNorm">Report</button>
        </div>

    </form>

    <br /><br />

    <div id="divProcessing">
        <br />
        <br />
        <p class="text-center">Processing data, please wait . . .</p>
        <p>
            <img class="mx-auto d-block" src="~/images/Spinner.gif" />
        </p>

    </div>


    <div class="center-text" id="dvReport"></div>


</div>









@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="module">
        import { FetchHelpers } from '/js/fetch-helpers.js';

        // Nascondi spinner inizialmente
        FetchHelpers.hideSpinner('divProcessing');

        // Handler submit form
        document.getElementById('formSelected').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const itemRicerca = document.getElementById('ItemRicerca').value;
            
            // Validazione campo ricerca
            if (itemRicerca.trim() === '') {
                alert('Inserisci un valore per la ricerca');
                return;
            }
            
            const form = e.target;
            const formData = new FormData(form);
            
            // Mostra spinner, nascondi risultati
            FetchHelpers.showSpinner('divProcessing');
            const reportDiv = document.getElementById('dvReport');
            reportDiv.style.display = 'none';
            reportDiv.innerHTML = '';
            
            try {
                await FetchHelpers.postFormWithUpdate(
                    '?handler=Report',
                    formData,
                    'dvReport',
                    () => {
                        // Success callback
                        FetchHelpers.hideSpinner('divProcessing');
                        reportDiv.style.display = 'block';
                        
                        // Inizializza DataTable con Excel export
                        FetchHelpers.reinitDataTable('tableProduzione', {
                            dom: 'Bflrtip',
                            buttons: [
                                {
                                    extend: 'excelHtml5',
                                    exportOptions: {
                                        columns: ':not(.notexport)'
                                    },
                                    className: 'col-auto btn btn-primary',
                                    title: function () {
                                        return 'Riepilogo Dispaccio e Bancali';
                                    },
                                    autoFilter: true,
                                    text: '<i class="fas fa-file-excel"></i> Export to Excel'
                                }
                            ],
                            columnDefs: [
                                {
                                    targets: 0,
                                    orderable: false,
                                    searchable: false,
                                }
                            ],
                            order: [[2, 'asc']],
                            scrollX: true
                        });
                    },
                    (error) => {
                        // Error callback
                        FetchHelpers.hideSpinner('divProcessing');
                        reportDiv.style.display = 'block';
                        reportDiv.innerHTML = '<div class="alert alert-danger">Errore durante il caricamento del report. Riprova.</div>';
                    }
                );
            } catch (error) {
                console.error('Errore report ricerca dispaccio:', error);
                FetchHelpers.hideSpinner('divProcessing');
                reportDiv.style.display = 'block';
            }
        });
    </script>

}
