@page
@model GiacenzaSorterRm.Pages.PagesImpostazioni.PagesCommesse.CreateModel

@{
    ViewData["Title"] = "Nuova Commessa";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-12 col-lg-6">

            <h4>Nuova Commessa</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                                              
                        <div class="mb-3">
                            <label for="Commesse_Commessa" class="form-label">Commessa</label>
                            <input asp-for="Commesse.Commessa" id="Commesse_Commessa" class="form-control" />
                            <span asp-validation-for="Commesse.Commessa" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="Commesse_IdPiattaforma" class="form-label">Piattaforma</label>
                            <select asp-for="Commesse.IdPiattaforma" id="Commesse_IdPiattaforma" class="form-select" asp-items="@Model.PiattaformeSL">
                                <option value="">- Piattaforma -</option>
                            </select>
                            <span asp-validation-for="Commesse.IdPiattaforma" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="Commesse_Note" class="form-label">Note</label>
                            <textarea asp-for="Commesse.Note" id="Commesse_Note" class="form-control"></textarea>
                        </div>

                        <div class="mb-3">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>

            <div>
                <a asp-page="Index">Back to List</a>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
