@page
@model GiacenzaSorterRm.Pages.PagesImpostazioni.PagesTipoPiattaforme.EditModel

@{
    ViewData["Title"] = "Edit Piattaforme";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-8 col-md-8 col-lg-8">

            <h1>Modifica Tipologie Documenti</h1>
            <br />

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Piattaforme.IdPiattaforma" id="Piattaforme_IdPiattaforma" />
                
                <div class="mb-3">
                    <label for="Piattaforme_Piattaforma" class="form-label">Piattaforma</label>
                    <input asp-for="Piattaforme.Piattaforma" id="Piattaforme_Piattaforma" class="form-control" />
                    <span asp-validation-for="Piattaforme.Piattaforma" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="Piattaforme_Note" class="form-label">Note</label>
                    <input asp-for="Piattaforme.Note" id="Piattaforme_Note" class="form-control" />
                    <span asp-validation-for="Piattaforme.Note" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            
            <div>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
